<h2> Edit Comment </h2>
<%= form_for  [@event, @comment] do |f| %>


  <%= f.label :comment_by %>
  <%= f.text_field :comment_by %>
<br>
<br>

    <%= f.label :content %>
    <%= f.text_area :content %>
<br>
<br>
<br>
<%= f.submit "Update", :class =>"button_style"  %>

  <% end %>

  <%= form_for [@event, @comment], method: :delete do |f| %>
  <% f.submit "Delete", :class =>"button_style"%>
  <% end %>
