<div class="titles">
<h2> New Comment </h2>
</div>
<%= form_for  [@event, @comment] do |f| %>


  <%= f.label :comment_by, "By" %>
  <%= f.text_field :comment_by %>
<br>
<br>

    <%= f.label :content, "Comment" %>
    <%= f.text_area :content %>
<br>
<br>
<br>
<%= f.submit "Create", :class =>"button_style" %>

  <% end %>
