<div class="titles">
  <h2>All Events </h2>
</div>

<div class="eventlinks">
  <%= link_to "Create New Event", new_event_path %>
</div>

<ul>
<% @events.each do |event| %>

<div class="events">
<h3><%= link_to event.title, event_path(event) %> </h3>
<div class="firstline">
  <b>Posted by: </b><%= event.posted_by %>
    | <h5><%= event.created_at.strftime("%m-%d-%Y") %> at <%= event.created_at.strftime("%I:%M %p") %></h5></div><br>

    <b>  Where: </b><%= event.location %><br><br>
    <b> Level: </b> <%= event.level %> <br>


</div>
<br>
<% end %>

</ul>
