<div class="eventlinks">
  <h4><%= link_to "< Back to All Events", events_path %></h4>
</div>
<br>

<div class="titles">
  <h2><%= @event.title %></h2>
</div>

<div class="eventlinks">
  <% if @event.user == current_user %>
  <h4><%= link_to"Edit Event", edit_event_path %></h4>
  <% end %>
</div>

<div class="postcontent">
 <div class="firstline"> Posted by: <%= @event.posted_by %> | <h5><%= @event.created_at.strftime("%m-%d-%Y") %> at <%= @event.created_at.strftime("%I:%M %p") %></h5></div><br>
Where: <%= @event.location %><br>
Level: <%= @event.level %> <br><br>
  <p><%= @event.description %></p>
<br>
</div>
<div class="wholecommentsection">
<div class="eventlinks">
    <h4> <%= link_to "Post a comment", new_event_comment_path(@event) %> <h4>
  </div>

<div class="comment">
  <% @event.comments.each do |comment| %>
 <h6> Posted by <%= comment.comment_by %> <%= comment.created_at.strftime("%m-%d-%Y %I:%M %p") %></h6>
 <div class="eventlinks">
  <p><%= comment.content %> <%= link_to "Edit", edit_event_comment_path(@event, comment) %></p>
</div>
<% end %>
</div>
</div>
